/* 1. Adicione uma cor de fundo específica para a página */
/* 13. Utilize o Box model */

body {
  background-color: rgb(253, 251, 251);
  width: 500px;
  margin: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 10px;
  color: green;
  font-size: medium;
}

header {
  position: fixed;
  top: 0;
  padding: 10px;
  border: 2px solid green;
}

/* 15. Posicione a tag article e a tag aside uma ao lado do outra */

article, aside {
    display: inline-block;
}