/* 1. Adicione uma cor de fundo específica para a página */

/* 13. Utilize o Box model */

body {
    background-color: rgb(253, 251, 251);
    font-family: "Montserrat", sans-serif;
    line-height: 15px;
    color: black;
    font-weight: 0;
}

header {
    position: sticky;
    background-color: pink;
    top: 0;
    padding: 10px;
    border: 2px solid palevioletred;
    font-size: 100;
}

/* 15. Posicione a tag article e a tag aside uma ao lado do outra */

article, aside {
    display: inline-block;
    width: 300px;
    margin: 10px; 
}

table, td {
    border:1px solid;
}